.categoryWrapper {
  border-top: 2px solid;
  font-size: 28px;
  text-align: center;
}

.header {
  margin: 12px 0;
  font-size: 32px;
}

.details {
  color: var(--paragraphColor);
  font-size: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  text-decoration: underline;
  font-size: 24px;
  margin: 12px 0;
}

.subDescription {
  margin-top: 12px;
}

@media (min-width: 1024px) {
  .categoryWrapper {
    text-align: left;
  }

  .header {
    font-size: 48px;
  }

  .details {
    flex-direction: row;
  }
  .details div {
    flex-basis: 33%;
  }
  .title {
    font-size: 32px;
  }
}
