.siteWrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin: 2rem 0 2rem;
  text-align: center;
}

.header .textLogo {
  font-size: 48px;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 42px;
}

.footer .textLogo {
  font-size: 24px;
  margin: 24px 0;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
}

@media (min-width: 1024px) {
  .header {
    text-align: revert;
  }
  .footer {
    text-align: revert;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .textLogo {
    font-size: 32px;
  }

  .socialMedia {
    gap: 32px;
    align-items: center;
  }
}
