.contactWrapper {
  width: 100%;
  border-top: 2px solid;
  padding-top: 24px;
  font-size: 24px;
  text-align: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.arrow {
  display: none !important;
  margin-top: 24px;
}

.resume {
  font-size: 18px;
  margin-top: 24px;
  color: var(--linkColor);
}

@media (min-width: 1024px) {
  .contactWrapper {
    padding-top: 70px;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .details {
    text-align: right;
  }
  .arrow {
    display: block !important;
  }
}
