html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primaryColor);
  color: var(--headerColor);
}

a {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--headerColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after,
a:active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

:root {
  --primaryColor: #386641;
  --headerColor: #f4a261;
  --paragraphColor: #f2e8cf;
  --desktopWidth: 1024;
}
