.aboutWrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
}

.details {
  color: var(--paragraphColor);
  font-size: 20px;
}
.photoWrapper {
  width: 100%;
  height: 180px;
  position: relative;
}

.resume {
  color: var(--headerColor);
  font-size: 20px;
  margin-bottom: 24px;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--magicOne),
    var(--magicTwo),
    var(--magicThree),
    var(--magicOne)
  );
  font-size: 600;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .aboutWrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
  }

  .captionWrapper {
    width: 150%;
  }

  .header {
    font-size: 60px;
  }
  .details {
    font-size: 32px;
  }

  .resume {
    font-size: 28px;
  }

  .photoWrapper {
    height: 370px;
  }
}
