.aboutWrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
}

.details {
  color: var(--paragraphColor);
  font-size: 20px;
}
.photoWrapper {
  width: 100%;
  height: 180px;
  position: relative;
}

.resume {
  color: var(--headerColor);
  font-size: 20px;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .aboutWrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
  }

  .captionWrapper {
    width: 150%;
  }

  .header {
    font-size: 60px;
  }
  .details {
    font-size: 32px;
  }

  .resume {
    font-size: 28px;
  }

  .photoWrapper {
    height: 370px;
  }
}
